In [21]:
import pandas as pd
import numpy as np
import datetime as dt

In [22]:
# import
data = pd.read_csv('./covid.csv')

# stripping whitespaces from colnames
data.columns = [x.strip() for x in data.columns]

# converting column to datetime
data['date'] = pd.to_datetime(data['date'])

In [23]:
# filtering whole world values
data = data[data['location'] != 'International']

# filtering for the date 2020-11-03
data = data[data['date'] == '2020-11-03']

# drop date column
data = data.drop('date', axis=1)

# columns to drop
cols_drop = ['iso_code','tests_units','handwashing_facilities','tests_per_case','new_deaths_smoothed_per_million' ,'reproduction_rate' ,'icu_patients' ,'icu_patients_per_million' ,'hosp_patients' ,'hosp_patients_per_million' ,'weekly_icu_admissions' ,'weekly_icu_admissions_per_million' ,'weekly_hosp_admissions' ,'weekly_hosp_admissions_per_million', 'total_tests' ,'new_tests' ,'total_tests_per_thousand' ,'new_tests_per_thousand' ,'new_tests_smoothed' ,'new_tests_smoothed_per_thousand' ,'positive_rate','female_smokers' ,'male_smokers']

# dropping cols to drop
data = data.drop(cols_drop, axis=1).reset_index(drop=True)

# drop na columns
data = data[data['human_development_index'].notnull()]
data = data[data['total_cases'].notnull()]
data = data.dropna(how='all').reset_index(drop=True)

In [24]:
# HDI classif
hdis = []
for x in data['human_development_index'].values:
    if x >= 0.8:
        hdis.append('very high')
    elif x < 0.8 and x >= 0.7:
        hdis.append('high')
    elif x < 0.7 and x >= 0.55:
        hdis.append('medium')
    elif x < 0.55:
        hdis.append('low')
data['development'] = hdis

In [25]:
# csv export
data.to_csv('data.csv')

In [26]:
cnt = {'col':[],'count':[]}
for i in data.columns:
    cnt['col'].append(i)
    cnt['count'].append(data[i].nunique())
d = pd.DataFrame(cnt)
d.sort_values('count')

                               col  count
26                     development      4
0                        continent      6
6                       new_deaths     54
20                 extreme_poverty     73
13                stringency_index     74
7              new_deaths_smoothed     92
23      hospital_beds_per_thousand     98
12          new_deaths_per_million    100
16                      median_age    127
3                        new_cases    128
22             diabetes_prevalence    131
9            new_cases_per_million    148
5                     total_deaths    153
25         human_development_index    156
4               new_cases_smoothed    157
11        total_deaths_per_million    167
24                 life_expectancy    171
18                   aged_70_older    171
10  new_cases_smoothed_per_million    173
17                   aged_65_older    174
19                  gdp_per_capita    177
21           cardiovasc_death_rate    179
15              population_density    179
2                      total_cases    181
8          total_cases_per_million    181
1                         location    181
14                      population    181