# Topic 1: Exercise 1

#### Importing the data

In [ ]:
d <- read.csv('../../datasets/Colleges.csv')

In [11]:
head(d)

  X                            Private Apps Accept Enroll Top10perc Top25perc
1 Abilene Christian University Yes     1660 1232   721    23        52
2 Adelphi University           Yes     2186 1924   512    16        29
3 Adrian College               Yes     1428 1097   336    22        50
4 Agnes Scott College          Yes      417  349   137    60        89
5 Alaska Pacific University    Yes      193  146    55    16        44
6 Albertson College            Yes      587  479   158    38        62
  F.Undergrad P.Undergrad Outstate Room.Board Books Personal PhD Terminal
1 2885         537         7440    3300       450   2200     70  78
2 2683        1227        12280    6450       750   1500     29  30
3 1036          99        11250    3750       400   1165     53  66
4  510          63        12960    5450       450    875     92  97
5  249         869         7560    4120       800   1500     76  72
6  678          41        13500    3335       500    675     67  73
  S.F.Ratio perc.alumni Expend Grad.Rate
1 18.1      12           7041  60
2 12.2      16          10527  56
3 12.9      30           8735  54
4  7.7      37          19016  59
5 11.9       2          10922  15
6  9.4      11           9727  55

### 1- Identify the type of all variables

In [13]:
colnames(d)

[1] "character"